*.o
*.*~*
.*.swp
.deps
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
config.guess
config.sub
configure
depcomp
install-sh
Makefile
Makefile.in
missing
sdmckt
test-sdmckt
stamp-h1
